POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tnbike_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_SCHEMA=tnbike

EMAIL_DIR=./data/raw/emails
PDF_DIR=./data/raw/pdfs
PROCESSED_DIR=./data/processed
