python-dotenv>=1.0
psycopg2-binary>=2.9
sqlalchemy>=2.0
pandas>=2.0
numpy>=1.26

tqdm>=4.66

scikit-learn>=1.4
lifetimes>=0.11
mlxtend>=0.23

prophet>=1.1
statsmodels>=0.14
xgboost>=2.0

streamlit>=1.32
plotly>=5.20
folium>=0.16

pytest>=7.0
